@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url(./assets/bg-mac.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

